GtkHeaderBar{
    background           :     linear-gradient( #eee, #ddd );
}

#editor-component{
    background           :     #333;
}

#editor-component GtkHeaderBar{
    background           :     #b5b5b5;
    border-radius        :     0;
}

#editor-component GtkSeparatorToolItem{
    border-right         :     1px solid rgba( 0, 0, 0, 0.25 );
}

#editor-component GtkSourceView{
    /*background           :     #333;
    color                :     #fff;*/
    font-family          :     "Ubuntu Mono";
    font-size            :     12px;
}

#editor-component GtkSourceViewGutter{
    background           :     #555;
}

#editor-component GtkSourceView:selected{
    background           :     #777;
}
